<!-- Content on this page will be rendered when the post controller gets to the index action -->

<h1>RoRy!</h1>

<a href="/">Home</a>
<a href="/posts/new">New Post</a>
<a href="/retrieve_test_json">Retrieve Test Json</a>
<a href="/retrieve">Retrieve Posts</a>

<p>
Check out all the posts</p>

<ul>
  <% Post.all.each do |post| %>
  <li><%= post.name %></li>
  <% end %>
</ul>
