<!-- Content on this page will be rendered when the post controller gets to the index action -->

<h1>Example Header</h1>

<p>
Check out all the posts</p>

<ul>
  <% Post.all.each do |post| %>
  <li><%= post.name %></li>
  <% end %>
</ul>
