<html>
  <head>
    <!-- link your stylesheets in the order that you want them loaded -->
    <link rel="stylesheet" href="/assets/stylesheets/app.css">
    <meta charset="utf-8">

    <!-- link your scripts in the order that you want them loaded -->
    <script src="/assets/javascripts/app.js"></script>
    <title>Rory Sample App</title>
  </head>
  <body>
    <!-- All other html.erb pages will be rendered where the yield is placed (this is defined in the Application Controller) -->
    <%= yield %>
  </body>
</html>
